<head>
<script data-pagespeed-no-defer pagespeed_no_defer>
@@SCRIPT_ERROR_COLLECTOR

if (window.location.hash.indexOf('systemfonts') < 0) {
    @@SCRIPT_FONT_LOADER
} else {
    document.write('<style>body,[data-showcar-ui]{font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, "Segoe UI Symbol" !important; }</style>');
}

@@POLYFILL_DOM4
@@POLYFILL_DOCUMENT_REGISTER_ELEMENT
@@POLYFILL_ARRAY
@@POLYFILL_OBJECT
@@POLYFILL_ES6_COLLECTIONS
@@POLYFILL_PROMISE
@@POLYFILL_FETCH

(function(w) {
if(!w.__proto__){l('https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')}
if(!w.HTMLPictureElement){l('@@ASSET_PATH/picturefill.js',1)}
function l(url,a){document.write('<script '+(a&&'async')+' src="'+url+'"></'+'script>')}
}(window))
</script>
<link rel="stylesheet" href="@@ASSET_PATH/showcar-ui.css">
</head>
<script src="@@ASSET_PATH/showcar-ui.js"></script>
