// FOR LEGACY
.sc-lazy-image.lazyloading {
  background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2290%22%20height%3D%2290%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20100%20100%22%20preserveAspectRatio%3D%22xMidYMid%22%20class%3D%22uil-ring-alt%22%3E%3Cstyle%3E.spinner%20%7B%20-webkit-animation%3A%20spinner%202s%20linear%20infinite%3B%20animation%3A%20spinner%202s%20linear%20infinite%3B%20%7D%20%40-webkit-keyframes%20spinner%20%7B%200%25%20%7B%20stroke-dashoffset%3A%20502%3B%20stroke-dasharray%3A%20150.6%20100.4%3B%20%7D%2050%25%20%7B%20stroke-dashoffset%3A%20251%3B%20stroke-dasharray%3A%201%20250%3B%20%7D%20100%25%20%7B%20stroke-dashoffset%3A%200%3B%20stroke-dasharray%3A%20150.6%20100.4%3B%20%7D%20%7D%20%40keyframes%20spinner%20%7B%200%25%20%7B%20stroke-dashoffset%3A%20502%3B%20stroke-dasharray%3A%20150.6%20100.4%3B%20%7D%2050%25%20%7B%20stroke-dashoffset%3A%20251%3B%20stroke-dasharray%3A%201%20250%3B%20%7D%20100%25%20%7B%20stroke-dashoffset%3A%200%3B%20stroke-dasharray%3A%20150.6%20100.4%3B%20%7D%20%7D%3C%2Fstyle%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2240%22%20stroke%3D%22%23ffe3cc%22%20fill%3D%22none%22%20stroke-width%3D%2210%22%20stroke-linecap%3D%22round%22%2F%3E%3Ccircle%20class%3D%22spinner%22%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2240%22%20stroke%3D%22%23ff7500%22%20fill%3D%22none%22%20stroke-width%3D%2210%22%20stroke-linecap%3D%22round%22%2F%3E%3C%2Fsvg%3E);
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
}

@mixin sc-ratio($x, $y){
  &__#{$x}x#{$y} {
    &:after {
      content: '';
      display: block;
      height: 0;
      width: 100%;
      padding-bottom: #{$y/$x*100%};
    }
    > * {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.sc-ratio {
  @include sc-ratio(4,3);
  @include sc-ratio(16,9);
  @include sc-ratio(21,9);
}

.sc-lazy {
  &__image {
    opacity: 0;
    transition: opacity .3s ease;
    &.lazyloaded {
      opacity: 1;
    }
  }
}