@import "../variables";
@import "../mixins/utils";
.sc-lightbox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: $form-border-radius;
    padding: $L;
    background-color: $white;
    @include mqmin($viewportM) {
        @include span(6);
    }
    @include mqmax($viewportM - 1) {
        width: 288px;
    }

    z-index: 999;

    /*
    &::before {
        content: '';
        display: block;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 998;
        background-color: rgba(0, 0, 0, 0.6);
    }
    */
}

.sc-lightbox-scroll {
    @include mqmin($viewportM) {
        overflow-y: hidden;
    }
}

.sc-lightbox-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 5; // more than navigation bar
}