<script src="https://cdnjs.cloudflare.com/ajax/libs/document-register-element/0.5.3/document-register-element.js"></script>
<script src="https://www.promisejs.org/polyfills/promise-6.1.0.js"></script>
<script src="{{assets}}/js/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="{{assets}}/js/format-code.js"></script>
<script src="{{assets}}/showcar-ui.js"></script>
<script src="{{assets}}/js/notification.js"></script>
<script src="{{assets}}/js/pager.js"></script>
